* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    width:80%;
    margin:auto;
}
                /*Header*/
header {
    background-color:rgba(46,104,221,255);
}

.navigation {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation .logo {
    color:white;
    font-weight: bold;
    margin:20px;;
}

.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar ul {
    display:flex;
}
.navbar ul li {
    list-style:none;
    padding:10px;
}

.navbar a {
    text-decoration:none;
    color:white;
    font-weight: bold;
    font-size:20px;
}

.navbar a:hover {
    color:lightblue;
}

                /*Main Section*/

section#main {
    background-color: rgba(12,72,192,255);

}

.main-section {
    display:flex;
    justify-content: space-between;
}

.main-text {
    align-self:center;
    color:white;
}

.main-text h1 {
    font-size:60px;
    margin:0 0 30px 0;
    font-weight: bold;
}

.main-text p {
    font-size:20px;
}

.image img {
    max-width:400px;
}

                /*Cards*/

section#box{
    background-color:rgba(119,144,196,255);

}

.cards {
    display:flex;
    padding:20px;
    justify-content: space-between;
}

.card {
    background-color:#0a3ea6;
    border:5px solid #0a3ea6;
    border-radius:10px;
    color:white;
    display: flex;
    flex-direction: column;
    margin-right:20px;
}


.card h1 {
    align-self: center;
    font-size:30px;
    padding:10px;
}
.card p {
    padding:20px;
    font-size:20px;
}

.card h1 i {
    padding-right:10px;
}

footer {
    color:white;
    background-color: #0a3ea6;
    border-top:2px solid  #092e77;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    overflow:hidden;
}

@media(max-width: 768px) {
    .main-section {
        flex-direction: column;
        padding-top:20px;
        align-items:  center;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        justify-content: space-between;
    }

    .card {
       margin:10px;
    }
 
    .navigation {
        flex-direction: column;
        align-items: center;
    }
}