body {
    background-color:black;
    margin:0px;
    padding:0px;
}

header {
    margin:0px;
    padding:0px;
}

h1 {
    margin:0px;
    padding:0px;
}

nav {
    margin:0px;
    padding:0px;
}
.navigation {
    margin:0px;
    padding:0px;
    display:flex;
    
}
.nav1 {
    background-color: blue;
    width:70%;
    
}

.nav2 {
    background-color:red;
    width:30%;

}
 
.h1 {
    float:right;
    padding:10px;

}
