body {
	margin:0;
	padding:0;
    font-family: 'Dancing Script', cursive;
    color:rgb(151, 5, 5);
    background-color:whitesmoke;
}

.navigation {
    background-color:rgb(238, 119, 139);
    display:flex;
    font-family: 'Dancing Script', cursive;
    border-bottom:3px solid rgb(151, 5, 5);
}

.nav1 {
    width:70%;
    font-size:35px;
    color:rgb(151, 5, 5);

}

.nav2 {
    width:30%;
    
}

.nav2 a {
    text-decoration:none;
    font-size:20px;
}

ul li {
    display:inline-block;
    margin:0px;
    padding:10px;

}

.navtab {
    margin:0px;
    padding:10px;
}

.list {
    transition: transform .2s;
}
.list a {
    text-decoration:none;
}

.list:hover {
    transform: scale(1.3);
}
 

#image {
    width:100px;
    height:50px;
    transition: transform .2s;
}

#image:hover {
    transform: scale(1.1);
}

.link2 {
    color:rgb(151, 5, 5);
}

.link2:hover {
    color:white;

}

.contact {
    transition: transform .2s;
    padding:0px;
    color:rgb(151, 5, 5);
}

.contact:hover {
    transform: scale(1.2);
    color:white;
}

.main {
    background-color:whitesmoke;
    width:85%;

    margin:auto;
    box-sizing: border-box;
}

.descriere {
    padding:20px;
    padding-left: 40px;
    color:rgb(151, 5, 5);
    margin:0px;
    font-size:30px;
}

.imagini {
    box-sizing: border-box;
    display:flex;
}
#image1{
    width:400px;
    height:400px;
    padding:20px;
    box-sizing: border-box;
    margin:auto;
}

.tort {
    padding-left:20px;
    margin:0;
    font-size:25px;
} 

.footer{
    text-align:center;
    padding:20px;
    border-top:2px solid rgb(151, 5, 5);
}






