* {
    margin:0;
    padding:0;
    box-sizing:border-box;

}

.flex-container {
    height:300px;
    display:flex;
    background-color: cadetblue;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
}

.item {
    background-color: blue;
    color:white;
    width:100px;
    height:100px;
    margin:10px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.item:nth-of-type(3) {
    align-self:end;
}

.item:nth-of-type(2) {
    align-self:start;
}

.flex-container1 {
    height:300px;
    display:flex;
    flex-direction: column;
    background-color: cadetblue;
    justify-content: end;
    align-items: center;
    border-bottom: 5px solid black;
}

.item1 {
    background-color: blue;
    color:white;
    width:100px;
    height:100px;
    margin:10px;
}

.item1:nth-of-type(3) {
    align-self: end;
}

.item1:nth-of-type(2) {
    align-self:start;
}

.flex-container2 {
    display:flex;
    background-color: cadetblue;
    border-bottom:5px solid black;

}

.item2 {
    background-color: blue;
    color:white;
    flex-basis:100px;
    height:100px;
    margin:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
}


.item2:nth-of-type(1) {
    order:3;
    flex-grow:2;
}

.item2:nth-of-type(2) {
    order:1;
    flex-grow:1;
}
.item2:nth-of-type(3) {
    order:2;
    flex-grow:1;
}

.flex-container3 {
    display:flex;
    background-color: cadetblue;

}

.item3 {
    background-color: blue;
    color:white;
    flex:1;
    height:100px;
    margin:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
}

